{% extends "layout_with_image.html" %}
{% block content %}
<div class="container" style="text-align: center;">
    <h1>You have chosen <span
            style="background-color: {{dominant_color['hex']['value']}}; color: {{dominant_color['contrast']['value']}};">"{{dominant_color['name']['value']}}"</span>
        as dominante color
    </h1>
    <h5>Here are some matching colors</h5>
    <br>
    <div class="row" style="justify-content: center;">
        {% for i in color_data.values() %}
        <div class="col-lg-3 choose_div" style="background-color: {{i['hex']['value']}};"
            onclick="nav_to_chose_color_route(this, '/{{image_id}}/{{dominant_color['hex']['clean']}}/{{i['hex']['clean']}}')">
            <h4 style="color: {{i['contrast']['value']}};">{{i['name']['value']}}
            </h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}